{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-glsl",
    "@prettier/plugin-pug"
  ],
  "overrides": [
    {
      "files": [
        "*.frag"
      ],
      "options": {
        "parser": "glsl-parser"
      }
    }
  ]
}