.about(data-background='#B2B8C3', data-color='#37384C')
  .about__wrapper
    h1 About Page

    footer.about__footer
      .about__footer__copyright &copy; 2023

      .about__footer__credits Creative Vanilla
