.home(data-background='#C97164', data-color='#F9F1E7')
  .home__wrapper
    h1.home__titles Testing
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, at blanditiis debitis ullam eius id, cum nemo dolores nulla architecto cupiditate aliquam quaerat sint recusandae, <br />consequuntur consectetur rerum. Odio, ametd?
    each item in [1, 2, 3, 4, 5, 6]
      .home__box Box
