nav.navigation
  a.navigation__link(href='/') Creative Vanilla

  ul.navigation__list
    each item in ['Home', 'About']
      li.navigation__list__item
        a.navigation__list__link(data-animation='link', href='#')
          span= item
